
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/HouseWare_Layouts.cshtml";
}

<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="/HouseWare/Index">Trang chủ</a></li>
                    <li class="active">Hướng dẫn mua hàng</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!--start:body-->

<div class="container">
    <h1 style="margin-bottom:20px">Giới thiệu</h1>
    <div class="rte">
        <p>Nội dung</p>

    </div>


</div>


