
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/HouseWare_Layouts.cshtml";
}
<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="/HouseWare/Index">Trang chủ</a></li>
                    <li class="active">Tin tức</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-9">
                <div class="row">

                    <div class="col-xs-12 col-sm-4" style="margin-bottom:30px;">
                        <div class="article-item">
                            <div class="image">
                                <a href="/HouseWare/News">
                                    <img src="~/Content/img/12323.jpg" class="img-responsive" alt="Tin tức 01" title="Tin tức 01">
                                </a>
                            </div>
                            <div class="info-post">
                                <h3><a href="/HouseWare/News">Tin tức 01</a></h3>
                                <p class="s-desc"> <span><img src="~/Content/img/ico-user.png" style="width:10px" /> Đoàn Nguyễn</span>
                                    <span style="margin-left:15px"><img src="~/Content/img/ico-watch.png" style="width:10px"/> 01-08-2016</span> 
                                </p>
                                <p class="desc">
                                    mô tả
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4" style="margin-bottom:30px;">
                        <div class="article-item">
                            <div class="image">
                                <a href="/HouseWare/News">
                                    <img src="~/Content/img/12323.jpg" class="img-responsive" alt="Tin tức 02" title="Tin tức 02">
                                </a>
                            </div>
                            <div class="info-post">
                                <h3><a href="/HouseWare/News">Tin tức 02</a></h3>
                                <p class="s-desc"><img src="~/Content/img/ico-user.png" style="width:10px" /> <span> Đoàn Nguyễn</span>
                                <span style="margin-left:15px"><img src="~/Content/img/ico-watch.png" style="width:10px" /> 01-08-2016</span> </p>
                                <p class="desc">
                                    mô tả
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="toolbar-collection last">

                    <div class="wp_page">
                        <div class="page">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <div class="sidebar-blog">
                    <aside class="wrap">
                        <h2 class="title">Danh mục tin tức</h2>
                        <ul class="list-cate">

                            <li><a href="/HouseWare/News">Danh mục 02</a></li>

                            <li><a href="/HouseWare/News">Danh mục 01</a></li>


                        </ul>
                    </aside>
                    <aside class="wrap">
                        <h2 class="title">Tin tức nổi bật</h2>

                        <div class="article-post clearfix">
                            <div class="info-post">
                                <p class="name"><a href="/HouseWare/News">Tin tức 01</a></p>
                                <p class="date"><img src="~/Content/img/ico-service2.png" style="width:10px" /> 01-08-2016</p>
                            </div>
                        </div>

                        <div class="article-post clearfix">
                            <div class="info-post">
                                <p class="name"><a href="/HouseWare/News">Tin tức 02</a></p>
                                <p class="date"><img src="~/Content/img/ico-service2.png" style="width:10px"/> 01-08-2016</p>
                            </div>
                        </div>

                    </aside>



                   

                </div>

            </div>

        </div>
    </div>
</div>

